<section class = "user-section">
  <%= render @user %>
  <div class = 'recent-posts'>
    <% if @user.most_recent_posts.any? %>
      <% @user.most_recent_posts.each do |post| %>
      <%= render post %>
      <% end %>
    <% else %>
      <p>The user have no post yet!</p>
    <% end %>
  </div>
  <a href ="<%=user_posts_path(@user)%>" class = "see-all-post" >See All Posts</a>
</section>