
<%= render @user %>
<div class = 'recent-posts'>
  <% if @user.most_recent_posts.any? %>
    <ul>
      <% @user.most_recent_posts.each do |post| %>
        <%= render post %>
      <% end %>
    </ul>
  <% else %>
    <p>The user have no post yet!</p>
  <% end %>
</div>
<a href ="<%=user_posts_path(@user)%>">See All Posts</a>