.user-item {
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  column-gap: 30px;
}

.title-container {
  flex: 1;
  border: 3px solid rgb(255, 181, 96);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-link {
  text-decoration: none;
  color: #042d4e;
}

body {
  background-color: rgb(157, 248, 218);
}

#users {
  padding: 10px;
}

.img-container {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(255, 181, 96);
  border-radius: 8px;
}

.img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.post-item {
  border: 3px solid rgb(255, 181, 96);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.see-all-post {
  text-decoration: none;
  color: white;
  background-color: #042d4e;
  border-radius: 8px;
  padding: 16px 10px;
}

.post-link {
  color: #042d4e;
  text-decoration: none;
}

.comments {
  border: 3px solid rgb(255, 181, 96);
  padding: 6px;
  border-radius: 8px;
  margin: 8px 0;
}

.pagination {
  text-decoration: none;
  color: white;
  background-color: #042d4e;
  border-radius: 8px;
  padding: 16px 10px;
  width: 100px;
  text-align: center;
}

.full-post {
  border: 3px solid rgb(255, 181, 96);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.bio-container {
  border: 3px solid rgb(255, 181, 96);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.log_in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.new_user {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 80vw;
}

.field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.log_in input {
  width: 100%;
  padding: 12px 6px;
}

.log_in .field:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.log_in .field:nth-child(4) input {
  width: 20px;
}

.sign_up {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.sign_up input {
  width: 100%;
  padding: 12px 6px;
}

.sign_up textarea {
  width: 100%;
  height: 60px;
  padding: 12px 6px;
}
